{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Artist Detail{% endblock title%}
{% block content %}

<div class="card">
    <div class="card-header card-header-secondary">
        <h4 class="card-title">Artist Details</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form | crispy }}

            {% if songs %}
            <p class="card-text">
                <h5 class="card-title">Song List</h5>
                <table class="table table-bordered striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Album</th>
                            <th scope="col">Release Year</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in songs %}
                        <tr>
                            <td>{{song.title}}</td>
                            <td>{{song.genre}}</td>
                            <td>{{song.album}}</td>
                            <td>{{song.release_year}}</td>
                            <td>
                                <a href="/song-details/{{song.id}}" class="btn btn btn-success" type="button"><i class="bi bi-pencil"></i></a>
                                <a href="/song-delete/{{song.id}}" class="btn btn btn-danger" type="button"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
            {% endif %}
            <button type="submit" class="btn btn-primary">Save</button> <a href="{% url 'artists' %}" class="btn btn-secondary">Cancel</a>
        </form>
        </p>
    </div>
</div>
{% endblock content %}