{% extends '_base.html' %}
{% block title %} Home {% endblock title%}
{% block content %}


<div class="card">
    <div class="card-header card-header-secondary">
        <h4 class="card-title">Artists</h4>
    </div>

    <div class="card-body">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'add_artist' %}"> Add New Artist</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_song' %}">Add New Song</a>
            </li>
        </ul>

        <div>
            {% if artists %}
            <table class="table table-bordered striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Nationality</th>
                        <th scope="col">Website</th>
                        <th scope="col">Label</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for artist in artists %}
                    <tr>
                        <td>{{artist.name}}</td>
                        <td>{{artist.age}}</td>
                        <td>{{artist.nationality}}</td>
                        <td>{{artist.website}}</td>
                        <td>{{artist.label}}</td>
                        <td>
                            <a href="artist-details/{{artist.id}}" class="btn btn btn-success" type="button"><i class="bi bi-pencil"></i></a>
                            <a href="artist-delete/{{artist.id}}" class="btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{artist.name}} ?
                                </div>
                                <div class="modal-footer">
                                    <a href="artist-delete/{{artist.id}}" type="button" class="btn btn-primary">Yes</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No artist records found in the database </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}